<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{{title}}</title>
            <link rel="stylesheet" href="/static/main.css">    
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            
            <p style = "margin-bottom: 0;">
                <h1 style = "text-align:right; color:black; font-size: 18px; padding: 0; ", id: "location">Location: {{location}}</h1>
            </p>
            <p style = "margin: 0; padding-top:0;">
                <h1 style = "text-align:center; color:#333; font-size: 50px; padding: 0; ", id: "title">{{title}}</h1>
            </p>
            {% block head %} {% endblock %}
        </head>
        <body>
            {% block body %} {% endblock %}
        </body>
    
    </html>